<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card">
                <img src="<%- img1 %>" class="card-img-top product-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Headwear</h5>
                    <p class="card-text text-center">A variety of hats, caps and head accessories are available in various colours.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card">
                <img src="<%- img2 %>" class="card-img-top product-img " alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Torso</h5>
                    <p class="card-text text-center">A variety of hats, caps and head accessories are available in various colours.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card">
                <img src="<%- img3 %>" class="card-img-top product-img " alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Trousers and Shorts</h5>
                    <p class="card-text text-center">A variety of hats, caps and head accessories are available in various colours.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card">
                <img src="<%- img4 %>" class="card-img-top product-img " alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Underwear</h5>
                    <p class="card-text text-center">A variety of hats, caps and head accessories are available in various colours.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card">
                <img src="<%- img5 %>" class="card-img-top product-img " alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Footwear</h5>
                    <p class="card-text text-center">A variety of hats, caps and head accessories are available in various colours.</p>
                </div>
            </div>
        </div>   
            
    </div>
</div>
        
<nav aria-label="...">
    <ul class="pagination">
        <li id="previous" class="page-item disabled">
            <button class="page-link" onclick="goToPreviousPage()">Previous</button>
        </li>
        <li class="page-item active">
            <button type="button" class="page-link" disabled>1</button>
        </li>
        <li class="page-item">
            <button class="page-link" href="#">2</button>
        </li>
        <li class="page-item">
            <button class="page-link" href="#">3</button>
        </li>
        <li id="next" class="page-item">
            <button class="page-link" onclick="goToNextPage()">Next</button>
        </li>
    </ul>
    </nav>