<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <!-- <script defer src="/public/scripts/newApparel.js"></script> -->
        <title>Blue King</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <%- include('../partials/slideshow');%>
            <%- include('../partials/newapparel');%>
            <%- include('../partials/banner');%>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        
    </body>
</html>