<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>Blue King</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <%- include('../partials/slideshow');%>
            <%- include('../partials/banner');%>
            <%- include('../partials/newapparel');%>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        
    </body>
</html>